<div style="margin-bottom: 40px">
  <ul>
    <li>{{ photo?.id }}</li>
    <li>{{ photo?.title }}</li>
    <li>{{ photo?.url }}</li>
    <li>{{ photo?.author }}</li>
    <li>{{ photo?.votes }}</li>
  </ul>
  <button class="btn btn-primary" style="margin-right: 10px" (click)="onUpvote()">Up Vote</button>
  <button class="btn btn-primary" style="margin-right: 10px" (click)="onDownvote()">Down Vote</button>
  <button class="btn btn-primary" style="margin-right: 10px" (click)="hidePhoto(photo)">Hide</button>
</div>
